<!DOCTYPE html>
<html lang="en">


<head>
    <title>Classifica degli animali dello zoo</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        document.getElementById('link-home').addEventListener('click', function(event) {
          event.preventDefault(); // Prevents the default link behavior
          location.reload(); // Reload the page
        });


        function voteAnimal(id)
        {
            document.getElementById(id+"-count").innerHTML =  parseInt(document.getElementById(id+"-count").innerHTML) +1;
        }
      </script>
      
   
</head>


<body>
    <div class="zoo-container">
        <header>
            <h1>15 animali più popolari dello zoo</h1>
        </header>
        <nav>
        <div class="menu_discesa">
            <button class="scritta_menu">classifica animali</button>
            <div class="menu_discesa-content">
                <ol >
                    <li class="aquatic"><a href="../static/animali/Pinguino.html">Pinguino</a></li>
                    <li class="domestic"><a href="../static/animali/Giraffa.html">Giraffa</a></li>
                    <li class="domestic"><a href="../static/animali/Capra.html">Capra</a></li>
                    <li class="predator"><a href="../static/animali/Orso polare.html">Orso polare</a></li>
                    <li class="domestic"><a href="../static/animali/Leone.html">Leone</a></li>
                    <li class="predator"><a href="../static/animali/Tigre.html">Tigre</a></li>
                    <li class="predator"><a href="../static/animali/Panda rosso.html">Panda rosso</a></li>
                    <li class="toothed"><a href="../static/animali/Elefante.html">Elefante</a></li>
                    <li class="aquatic"><a href="../static/animali/Gorilla.html">Gorilla</a></li>
                    <li class="predator"><a href="../static/animali/Panda.html">Panda</a></li>
                    <li class="domestic"><a href="../static/animali/Alligatore.html">Alligatore</a></li>
                    <li class="aquatic"><a href="../static/animali/Ghepardo.html">Ghepardo</a></li>
                    <li class="predator"><a href="../static/animali/Delfino.html">Delfino</a></li>
                    <li class="airborne"><a href="../static/animali/Fenicottero.html">Fenicottero</a></li>
                    <li class="aquatic"><a href="../static/animali/Lontra.html">Lontra</a></li>
                </ol>
            </div>
        </div>
        <div class="topnav">
            
            <a class="active" href="/">Home</a>
            
            </div>
          </div></nav>
        
        
    </div>
    <hr>
       


    <div class="container">
        {% for animali in surename %}
        <div class="riquadri">
            <div>
                <div class="tooltip">
                    <a href="../static/animali/{{animali[1]}}.html">
                        <img src="../static/immagini/{{animali[0]}}.jpg" alt="{{animali[0]}}" width="500">
                        <span class="tooltiptext">Clicca sull'immagine per approfondire</span>
                    </a>
                </div>
                <button class="vote-button" onclick="voteAnimal('{{animali[1]}}')">vota</button>
                <span class="vote-count" id="{{animali[1]}}-count">0</span>
            </div>
           <p>
            Classifica: {{animali[0]}}
           </p>
            <p>
                Nome: {{animali[1]}}
            </p>
            <p>
                Piume: {{animali[3]}}
            </p>


            <p>
                Ovipari: {{animali[4] }}
            </p>
            <p>
                Lattazione: {{animali[5]}}
            </p>




            <p>
                Acquatici: {{animali[7]}}
            </p>


            <p>
                Velenosi: {{animali[12]}}
            </p>
            <p>
                Numero di zampe: {{animali[14]}}
            </p>
            <p>
                Coda: {{animali[15]}}
            </p>
            <p>
                Classe: {{animali[18]}}


            </p>
            <p class="testo-limitato">
                curiositá: {{animali[19]}}


            </p>

           
        </div>


        {% endfor %}


    </div>
    
    


</body>


</html>
