<!DOCTYPE html>
<html lang="en">

<head>
    <title>Classifica degli animali dello zoo</title>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
      </ul>
    <link rel="stylesheet" href="../static/css/style.css" />
    <style>
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          padding: 12px 16px;
          z-index: 1;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
        }
       

        </style>
</head>

<body>
    <div class="zoo">
    <header>
        <h1>15 animali più poplari dello zoo </h1>
    </header>

    <img src="../static/immagini/zoo.jpg" alt="zoo" width="500" >
    </div>


    <ol>
        <li class="aquatic">Pinguino</li>
        <li class="domestic">Giraffa</li>
        <li class="domestic">Capra</li>
        <li class="predator">Orso polare</li>
        <li class="domestic">Leone</li>
        <li class="predator">Tigre</li>
        <li class="predator">Panda rosso</li>
        <li class="toothed">Elefante</li>
        <li class="aquatic">Gorilla</li>
        <li class="predator">Panda</li>
        <li class="domestic">Alligatore</li>
        <li class="aquatic">Ghepardo</li>
        <li class="predator">Delfino</li>
        <li class="airborne">Fenicottero</li>
        <li class="aquatic">Lontra</li>
    </ol>
    <hr>
    <div class="container">
        {% for animali in surename %}

        <div class="riquadri">
            <img src="../static/immagini/{{animali[0]}}.jpg" alt="{{animali[0]}}" width="500">
            <p>
                Nome: {{animali[1]}}
            </p>
            <p>
                Piume: {{animali[3]}}
            </p>

            <p>
                Ovipari: {{animali[4] }}
            </p>
            <p>
                Lattazione: {{animali[5]}}
            </p>


            <p>
                Acquatici: {{animali[7]}}
            </p>

            <p>
                Velenosi: {{animali[12]}}
            </p>
            <p>
                Numero di zampe: {{animali[14]}}
            </p>
            <p>
                Coda: {{animali[15]}}
            </p>
            <p>
                Classe: {{animali[18]}}

            </p>
            
        </div>

        {% endfor %}

    </div>


</body>

</html>