img { 
    border-radius: 10%;
    width: 600px;
    height:400px;
    justify-content: center;
    ;
}

p { display:flex;
     justify-content: center;
     color: brown;

}

title {
    font-family: Arial;
    font-size: 30pt;
}



.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.riquadri {
   flex-direction:row;
   flex-flow: row wrap;
   margin: 10px;
}
  